---
layout: default
---
<!DOCTYPE html>
<html>

<!-- Head Section -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords"
        content="Yalin Yang, GIS, Geographic Information Science, Research Associate, West Virginia University, Geospatial Data Analytics, Urban Environment, Human Networks Modeling, Python, R, JavaScript, AWS, Machine Learning">
    <meta name="author" content="{{ site.authorv.name }}">
    <meta name="robots" content="index, follow">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="{{ site.url }}/{{ site.authorv.image }}">
    <meta property="og:site_name" content="Yalin Yang's Academic Website">
    <meta property="og:locale" content="en_US">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ site.url }}">
    <meta property="twitter:title" content="{{ site.title }}">
    <meta property="twitter:description" content="{{ site.description }}">
    <meta property="twitter:image" content="{{ site.url }}/{{ site.authorv.image }}">

    <!-- Academic and Professional Meta Tags -->
    <meta name="geo.region" content="US-WV">
    <meta name="geo.placename" content="Morgantown, West Virginia">
    <meta name="geo.position" content="39.6357365;-79.9588729">
    <meta name="ICBM" content="39.6357365, -79.9588729">

    <!-- Academic Profile Links -->
    <link rel="me" href="{{ site.social.scholar }}">
    <link rel="me" href="{{ site.social.github }}">
    <link rel="me" href="{{ site.social.linkedin }}">

    <!-- Canonical URL -->
    <link rel="canonical" href="{{ site.url }}/">

    <!-- Language -->
    <meta name="language" content="English">
    <meta name="geo.region" content="US">

    <!-- Academic Keywords -->
    <meta name="subject"
        content="Geographic Information Science, GIS, Geospatial Data Analytics, Urban Environment, Human Networks Modeling">
    <meta name="classification" content="Academic Research, Geographic Information Science, Data Science">
    <meta name="category" content="Research, Academic, GIS, Geospatial">

    <link rel="icon" type="image/x-icon" href="/img/YalinYang.ico">

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: https://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

</head>

<body id="page-top2" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{ site.authorv.name }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#research">research</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#publications">Publications</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#teaching">Teaching</a>
                    </li>
                    <li>
                        <a href="https://gisyaliny.github.io/projects/" target="_blank">Projects</a>
                    </li>
                    <li>
                        <a href="https://gisyaliny.github.io/notes/" target="_blank">Notes</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">{{ site.authorv.university }}</div>
                <div class="intro-heading">Everything happens somewhere</div>
                <p class="large">Geographic Information Science (GIS), Urban Environment and Human Networks Modeling,
                    Big Geospatial Data Analytics, GIS Programming, Android Developing,
                    AWS, Python, JAVAScript, JAVA, R </p>
                <a href="#about" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>


    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="{{ site.authorv.image }}" class="img-responsive img-circle" alt="" />
                        <h4>{{ site.authorv.name }}</h4>
                        <h4 style="margin-top: 10px;">（中文名：{{ site.authorv.chinese_name }}）</h4>
                        <h4 style="margin-top: 10px;">{{ site.authorv.role }}</h4>
                        <p class="text-muted"> {{ site.authorv.university }} <br> {{ site.authorv.organization }} </p>
                        <p>
                            <a href="{{ site.authorv.cv_link }}" target="_blank">Curriculum Vitae</a>
                        </p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a target="_blank" href="{{ site.social.scholar }}">
                                    <i class="fa fa-graduation-cap"></i>
                                </a>
                            </li>

                            <li>
                                <a target="_blank" href="{{ site.social.github }}">
                                    <i class="fa fa-github"></i>
                                </a>
                            </li>

                            <li>
                                <a target="_blank" href="{{ site.social.linkedin }}">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>

                            <li>
                                <a target="_blank" href="{{ site.social.email }}">
                                    <i class="fa fa-envelope-o"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-lg-offset-1">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">About Me</h2>
                    </div>
                    <p class="large">
                        I am a Research Associate and GIS Programmer at the
                        <a href="https://wvgis.wvu.edu/" target="_blank">West Virginia GIS Technical Center</a>
                        at West Virginia University. I hold a Ph.D. in Geospatial Information Sciences
                        from the
                        <a href="https://www.utdallas.edu/" target="_blank">University of Texas at Dallas</a>
                        (<a href="https://baike.baidu.com/item/%E5%BE%97%E5%85%8B%E8%90%A8%E6%96%AF%E5%A4%A7%E5%AD%A6%E8%BE%BE%E6%8B%89%E6%96%AF%E5%88%86%E6%A0%A1/49780223"
                            target="_blank">德州大学达拉斯分校</a>). My research interests include Geographic Information Science
                        (GIS),
                        Urban Environment, and Human Networks Modeling. Specifically, I focus on applying geospatial big
                        data,
                        machine learning, and cloud computing (AWS) to study built environments, social events, semantic
                        segmentation of urban landscapes, navigation with map matching, and more.
                    </p>
                    <p class="large">
                        I enjoy developing practical applications for local communities. Check out my
                        <a href="#research">research</a> for more information about my ongoing projects.
                    </p>
                    <p class="large">
                        <strong>Education:</strong><br />
                        &bull; 2019–2024 &emsp; Ph.D. in Geospatial Information Sciences.
                        <a href="https://epps.utdallas.edu/about/programs/geospatial-information-sciences/"
                            target="_blank">
                            University of Texas at Dallas
                        </a>, Texas, USA<br />
                        &bull; 2017–2019 &emsp; M.A. in Geography.
                        <a href="https://www.binghamton.edu/geography/" target="_blank">Binghamton University
                            (SUNY)</a>,
                        New York, USA<br />
                        &bull; 2013–2017 &emsp; B.S. in Geographic Information Science.
                        <a href="http://www.srees.ynu.edu.cn/english.htm" target="_blank">Yunnan University</a>, Yunnan,
                        China
                    </p>

                    <!-- Appointments -->
                    <p class="large">
                        <strong>Appointments:</strong><br />
                        &bull; 2024–Present &emsp; Research Associate, GIS Programmer,
                        <a href="https://wvgis.wvu.edu/" target="_blank">West Virginia GIS Technical Center</a><br />
                        &bull; 2024–2024 &emsp; Senior GIS Analyst, City of Dallas<br />
                        &bull; 2021–2024 &emsp; GIS Administrator, GAIA Lab, UT Dallas<br />
                        &bull; 2019–2024 &emsp; Teaching Assistant, Department of GIScience, UT Dallas<br />
                        &bull; 2018–2019 &emsp; Teaching Assistant, Department of Geography, Binghamton University
                        (SUNY)<br />
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Research Section -->
    <section id="research" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research and knowledge base</h2>
                    <h3 class="section-subheading">Geospatial Data Science: the science that investigates the 'where'
                        and
                        'why' of various human and natural phenomena! <br>As geographers, we discover deeper insights,
                        make
                        better decisions, and take them to action.</h3>
                </div>
            </div>
            <div class="row">
                {% for item in site.data.research %}
                <div class="col-md-4 col-sm-6 research-item">
                    <a href="#{{ item.id }}" class="research-link" data-toggle="modal">
                        <div class="research-hover">
                            <div class="research-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ item.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="research-caption">
                        <h4>{{ item.title }}</h4>
                        <p class="text-muted">{{ item.subtitle }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="row text-center">
                <!-- WebGIS -->
                <div class="col-md-4">
                    <a href="https://gisyaliny.github.io/webgis/" target="_blank" class="image featured">
                        <img src="./img/research/Covers/webgis.jpg" class="img-responsive img-centered"
                            alt="Web GIS" /></a>
                    <h4 class="service-heading">
                        <a href="https://gisyaliny.github.io/webgis/" target="_blank">Web GIS</a>
                    </h4>
                    <p>Django, html, CSS, JavaScript...</p>
                </div>
                <!-- Spatial autocorrelation -->
                <div class="col-md-4">
                    <a href="https://gisyaliny.github.io/sa/" target="_blank" class="image featured"><img
                            src="./img/research/Covers/SA.jpg" class="img-responsive img-centered"
                            alt="Spatial Autocorrelation" /></a>
                    <h4 class="service-heading"><a href="https://gisyaliny.github.io/sa/" target="_blank">Spatial
                            Autocorrelation</a>
                    </h4>
                    <p>Kriging, Moran's I, Getis G...</p>
                </div>
                <!-- Math and Algorithms -->
                <div class="col-md-4">
                    <a href="https://gisyaliny.github.io/math/" target="_blank" class="image featured">
                        <img src="./img/research/Covers/math.jpg" class="img-responsive img-centered"
                            alt="Math and Algorithms" /></a>
                    <h4 class="service-heading"><a href="https://gisyaliny.github.io/math/" target="_blank">Math and
                            Algorithms</a></h4>
                    <p>Linear Algebra, Location allocation... </p>
                </div>
            </div>
        </div>
    </section>

    <!-- research Modals -->
    {% for modal in site.data.research %}
    <div class="research-modal modal fade" id="{{ modal.id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ modal.title }}</h2>
                            <hr class="star-primary">
                            {% if modal.expertise %}
                            <h4>Areas of expertise:</h4>
                            <ul>
                                {% for exp in modal.expertise %}
                                <li style="margin:10px">{{ exp }}</li>
                                {% endfor %}
                            </ul>
                            <hr>
                            {% endif %}

                            {% for sections in modal.sections %}
                            <h3>{{ sections.title }}</h3>
                            {% for item in sections.items %}
                            {% if item.title %}
                            <h4>
                                {% if item.link %}
                                <a href="{{ item.link }}" target="_blank">{{ item.title }}</a>
                                {% else %}
                                {{ item.title }}
                                {% endif %}
                            </h4>
                            {% endif %}

                            <p class="large">
                                {% if item.text %}
                                {{ item.text | markdownify | remove: '
                            <p>' | remove: '</p>' }}
                            {% endif %}

                            {% for img in item.images %}
                            {% if item.link and forloop.length == 1 %}
                            <a href="{{ item.link }}" target="_blank">
                                <img src="{{ img }}" class="img-responsive img-centered">
                            </a>
                            {% else %}
                            <img src="{{ img }}" class="img-responsive img-centered">
                            {% endif %}
                            {% endfor %}
                            </p>
                            {% endfor %}
                            <hr>
                            {% endfor %}

                            <br><br>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                    class="fa fa-times"></i>
                                Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- Publications Section -->
    <section id="publications">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Publications & Grants</h2>
                    <h3 class="section-subheading text-muted">Research publications and funded projects</h3>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Publications</h3>
                        <ul id="publications-list">
                            {% for pub in site.data.publications %}
                            <li style="margin: 10px">
                                {{ pub.authors | markdownify | remove: '<p>' | remove: '</p>' }}
                                ({{ pub.year }}).
                                {% if pub.link %}
                                <a href="{{ pub.link }}" target="_blank">{{ pub.title }}</a>.
                                {% else %}
                                {{ pub.title }}.
                                {% endif %}
                                <em>{{ pub.journal }}</em>.
                            </li>
                            {% endfor %}
                        </ul>

                        <h3>Grants & Awards</h3>
                        <ul>
                            {% for award in site.data.awards %}
                            <li style="margin: 10px">
                                {{ award.year }} &nbsp;
                                {% if award.link %}
                                <a href="{{ award.link }}" target="_blank">{{ award.title }}</a>
                                {% else %}
                                <a target="_blank">{{ award.title }}</a>
                                {% endif %}
                                {{ award.organization }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Teaching Section -->
    <section id="teaching" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">TEACHING & ASSISTING</h2>
                    <p>I have worked to
                        <a href="https://scholar.google.com/citations?user=XyLn2ggAAAAJ&hl=en">Dr. May Yuan</a> , <a
                            href="https://profiles.utdallas.edu/tiefelsdorf">Dr. Michael Tiefelsdorf</a> , <a
                            href="https://scholar.google.com/citations?user=1-HdFLAAAAAJ&hl=en">Dr. Karl Ho</a> , and <a
                            href="https://scholar.google.com/citations?user=AsSa3DIAAAAJ&hl=en">Dr. Fang Qiu</a> as a
                        teaching assistant,
                        and received their approval on assistantship reviews. Selected comments from them:
                    </p>
                </div>
                <br>
            </div>
            <div class="container">
                <ul>
                    <li><i>“Even in a remote learning environment Yalin Yang kept in touch with the course participants
                            and the instructor. Yalin is knowledgeable in
                            machine learning techniques.”</i></li>
                    <li><i>“Students commented in the course evaluation positive on the TA's interaction with them and
                            helpfulness. This completes the second
                            academic year and a substantial improvement and a development of a routine could be
                            observed.”</i></li>
                    <li><i>“Mr. Yang is a very supportive teaching assistant and he is always punctual. He is very
                            knowledgeable in the materials covered in class.
                            He will take extra time to finish the exercises and provide keys to students after class. I
                            really appreciate his efforts to help students
                            learn well.”</i></li>
                    <li><i>“Yalin helped tremendously on students' assignments and debugging students' codes on an
                            individual basis. He gave personal attention to
                            individual students and allowed them to move forward with their projects. His programming
                            skills were instrumental to one of the class projects.
                            He did beyond what was expected of the project assignment. ”</i></li>
                </ul>
            </div>
            <div class="row text-center">
                {% for course in site.data.teaching %}
                <div class="col-md-4">
                    {% if course.link %}
                    <a href="{{ course.link }}" target="_blank" class="image featured">
                        <img src="{{ course.image }}" class="img-responsive img-centered" alt="" />
                    </a>
                    <h4 class="service-heading">
                        <a href="{{ course.link }}" target="_blank">{{ course.title }}</a>
                    </h4>
                    {% else %}
                    <a class="image featured">
                        <img src="{{ course.image }}" class="img-responsive img-centered" alt="" />
                    </a>
                    <h4 class="service-heading">{{ course.title }}</h4>
                    {% endif %}
                    <p>{{ course.course_id }} @ {{ course.university }}</p>
                </div>
                {% endfor %}
            </div>

        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Me</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted">
                        <a href="mailto:{{ site.social.email }}" style="color: white; font-size: 20px;">{{
                            site.social.email }}</a>
                    </h3>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.authorv.name }} 2024</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="{{ site.social.scholar }}"><i class="fa fa-graduation-cap"></i></a>
                        </li>
                        <li><a href="{{ site.social.github }}"><i class="fa fa-github"></i></a>
                        </li>
                        <li><a href="{{ site.social.linkedin }}"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>

</body>

</html>